.formulario{	
	background-color: #999999;
	margin-left: 280px;
	padding: 50px;
	width: 60%;
	margin-top: 70px;
}

.tabela{
	font-family: Times;
	margin-top: 100px;
	width: 40%;
	margin-left: 420px;
	text-align: center;
}

.cardão{
	float: right;
}

#a{
	width: 100%;
	margin-left: 0;
}

p{
	font-family: georgia;
	font-size: 20px;
}

h2{
	text-align: center;

}

a{
	color: white;
	font-family: georgia;
}

a:hover{
	color: black;
}

#b{
	color: black;
	font-family: georgia;
}

body{
	background-color: #e6e6e6;
	font-family: Roboto;
}
